
{% extends "newsapp/layout.html" %}

{% block content %}
	<div class="container" style="padding-top:50px">
		<div id="post-list" class="container" style="padding-top:20px">
			{% for id, values in result.items %}
				<div class="row">
					<div class="col-md-offset-3 col-md-6">
						<div class="panel panel-default">
							<div class="panel-header">
								<h2 class="article-header text-center"> {{ values.1 }} </h2>
							</div>
							<div class="panel-body">
								<img src={{values.4}} class="img-responsive article-image">
							</div>
							<div class="panel-footer">
								<div class="row">
									<div class="col-md-6">
										<p class="article-author">
											<b>Published by : </b>{{values.0}}
										</p> <br>
									</div>
									<div col-md-6>
										<button class="btn btn-default" onclick="bookmark({{id}})">
											Bookmark
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<hr>
				</div>
			{% endfor %}
		</div>
	</div>	

	<script type="text/javascript">
		function bookmark(articleId){
			//alert(articleId);
			$.ajax({
				type:"GET",
				url:"bookmark",
				data:{id:articleId},
				success: function(data) {
					alert(data);
				},
			});			
		}
	</script>
{% endblock %}
